html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;

    #page-title {
        align-self: flex-start;
        padding-top: 40px;
        padding-left: 77px;

        text-transform: uppercase;
        font-family: Inconsolata, serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        color: #333333;
    }

    #body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        font-family: 'Space Mono', serif;

        img {
            width: 539.22px;
            height: 447.43px;
        }
        > div {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            #content-title {
                font-weight: 700;
                font-size: 64px;

            }

            #content-text {
                width: 50%;

                font-weight: 400;
                font-size: 24px;
                line-height: 35.54px;
                color: #4F4F4F;
            }
        }
    }

}


#footer {

}


